Repository cisagov/tpt-reports, pull requests merged in 2023-11, with the labels that each got.

#67 Update payloads_not_blocked to host_not_blocked in report_generator.py
  src/tpt_reports/_version.py
  src/tpt_reports/report_generator.py
Labels: bug

#68 Finalize version from 1.1.0-rc.1 to 1.1.0
  src/tpt_reports/_version.py
Labels: version bump

#69 Update parsing logic to account for recent changes to input JSON file format.
  README.md
  src/tpt_reports/_version.py
  src/tpt_reports/tpt_reports.py
  tests/data/test.json
  tests/test_report_generator.py
  tests/test_tpt_reports.py
Labels: documentation, improvement
